/*******************************/
/* HEADER */
/*******************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebec;

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;

  /* .main-nav in queries.css position is absolute this code for that line of code */
  position: relative;
}

.logo {
  height: 4.8rem;
}

/*******************************/
/* NAVIGATION */
/*******************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #2a2e33;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #343a40;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #2a2e33;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

/* this code hidden the icon for the close button *check the name of the icon in the html tag  */
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/*******************************/
/* HERO SECTION */
/*******************************/

.section-hero {
  background-color: #ebebec;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.customers {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.customers-img {
  display: flex;
}

.customers-img img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #ebebec;
}

.customers-img img:last-child {
  margin: 0;
}

.customer-stats {
  font-size: 1.8rem;
  font-weight: 600;
}

.customer-stats span {
  color: #15171a;
  font-weight: 700;
}

/*******************************/
/* HOW IT WORKS SECTION */
/*******************************/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 9px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 65%;
  /* height:65%; */

  /* 65% of parent's width */
  padding-bottom: 65%;

  background-color: #ebebec;
  z-index: -2;
}

.step-img-box::after {
  width: 55%;
  padding-bottom: 55%;
  background-color: #c2c4c6;
  z-index: -1;
}

.step-img {
  width: 45%;
  border-radius: 9px;
}

/*******************************/
/* SERVICES SECTION */
/*******************************/

.section-services {
  padding: 9.6rem 0;
}

.services {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  position: relative;
  overflow: hidden;
}

.services:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.08);
}

.services-special::after {
  content: "★";
  position: absolute;
  top: 3%;
  right: -22%;

  font-size: 2.2rem;
  font-weight: 700;
  color: #ffec99;
  background-color: #20c997;
  padding: 0.35rem 9rem;
  transform: rotate(45deg);
  white-space: nowrap;
}

.towing-service {
  font-size: 2.2rem;
  line-height: 1.6;
  text-align: center;

  color: #f76707;
  position: relative;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.towing-service.show {
  opacity: 1;
  transform: translateX(0);
}

.services-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.services-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.services-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.services-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.services-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #2b8a3e;
}

.services-img {
  width: 30%;
  display: block;
  margin: 0 auto;
}

/*******************************/
/* TESTIMONIALS SECTION */
/*******************************/

.section-testimonials {
  background-color: #ebebec;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #676767;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/*******************************/
/* FEATURE SECTION */
/*******************************/

.section-feature {
  padding: 9.6rem 0;
}

.feature-icon {
  color: #343a40;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #ebebec;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/*******************************/
/* CTA SECTION */
/*******************************/

.section-cta {
  /* top / right / bottom / left */
  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  display: grid;

  /* 2/3 = 66.6% + 1/3 = 33.3%*/
  grid-template-columns: 2fr 1fr;
  /* background-color: #343a40; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
  border-radius: 11px;
  overflow: hidden;

  background-image: linear-gradient(to right bottom, #aeb0b3, #343a40);
}

.cta-text-box {
  padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  color: #1a1d20;
}

.cta .heading-secondary {
  color: #1f2326;
  margin-bottom: 2.4rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 3.2rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(113, 117, 121, 0.35),
      rgba(52, 58, 64, 0.35)
    ),
    url(../img/cta-cover.webp);
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 2.2rem;
  align-items: center;
}

.full-width {
  grid-column: 1 / -1;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.cta-form input,
.cta-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #ebebec;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder,
.cta-form textarea::placeholder {
  color: #aaa;
}

.cta-form textarea {
  height: 14rem;
  resize: none;
  display: block;
  line-height: 1.2;
}

.cta-form button {
  grid-column: 1 / -1;
  justify-self: center;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(235, 235, 236, 0.5);
}

/*******************************/
/* LOCATION-HOURS SECTION */
/*******************************/
.section-location-hours {
  padding: 0 0 9.8rem 0;
}

.navigation {
  display: grid;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  grid-template-columns: 60% 40%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  gap: 3rem;
  background-color: #ebebec;
}

.location-address {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.map-container {
  width: 100%;
  height: 350px;
  border-radius: 11px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.map-container:hover {
  transform: scale(1.02);
}

.map-link {
  display: block;
  width: 100%;
  height: 350px;
  position: relative;
}

.map-link::after {
  content: "📍 In Google Maps öffnen";
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1.6rem;
  opacity: 0;
  transition: opacity 0.3s;
}

.map-link:hover::after {
  opacity: 1;
}

.location-title,
.hours-title {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.location-title ion-icon,
.hours-title ion-icon {
  margin-right: 1.5rem;
}

.opening-hours-box {
  max-width: 40rem;
  height: 100%;
  padding: 3rem;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

.hours-title {
  margin-bottom: 5rem;
}

.hours-text {
  font-size: 1.6rem;
  margin-bottom: 3rem;
  line-height: 1.5;
}

.hours-list {
  list-style: none;
  padding: 0;
  margin-bottom: 3rem;
}

.hours-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.hours-list li:last-child {
  border-bottom: 4rem;
}

.hours-note {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
  line-height: 1.6;
}

/*******************************/
/* LOCATION-HOURS SECTION */
/*******************************/
.section-sertificat {
  /* top / right / bottom / left */
  padding: 0 0 12.8rem 0;
}

.section-sertificat .heading-secondary {
  margin-bottom: 2.8rem;
}

.section-sertificat .step-description {
  margin-bottom: 2.8rem;
}

.section-sertificat .gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.2rem;
  padding: 2.2rem;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.section-sertificat .gallery-item {
  background-color: #eee;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

/*******************************/
/* FOOTER */
/*******************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 2fr 2fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 3rem;
  width: 3rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #676767;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.contacts p,
.contacts a {
  display: flex;
  gap: 1.2rem;
}

.add-icon {
  height: 2.4rem;
  width: 2.4rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link {
  pointer-events: auto !important;
  z-index: 9999;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #676767;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #333;
}

/*******************************/
/* IMPRESSUM SECTION */
/*******************************/

/* .step-description a:link,
a:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #241f6e;
  transition: all 0.3s;
}

.step-description a:hover,
.step-description a:active {
  color: #0e0909;
} */
